div[class^="col"] {
    border: 2px solid rgb(255, 255, 255);
    min-height: 200px;
}


p {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size:200px;
}



/* From Uiverse.io by vinodjangid07 */ 
.Btn-Container {
  display: flex;
  width: 170px;
  height: fit-content;
  background-color: #000000;
  border-radius: 40px;
  box-shadow: 0px 5px 10px #000000;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #53103f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #c54f76;
}
.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}
.icon-Container svg {
  transition-duration: 1.5s;
}
.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}

h1{
   font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h3{
   font-family: "VT323", monospace;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.container{
  background-color: #ffdcec;
}

